@media screen and (max-width: 991px) { 
	
	body{
		background-image: url();
	}

	footer{
		position: relative;
		text-align: center;
	}

	.logoName {
    	margin-top: -17%;
	}

	.advertising {
    	width: 63%;
    	margin-top: -10%;
    	padding-top: -54px;
    	margin-left: 20%;
    	padding-bottom: -17px;
	}

	.social{
	    margin-top: 30px;
	}

	hgroup {
    	margin-top: -14%;
    	padding-bottom: 20px;
	}

	.logoPrezzo {
    	margin-top: -7%;
	}

	.logoPosition > img {
		height: 180px;
	}

	.logoName > strong {
		font-size: 1.8em;
	}
}
@media screen and (max-width: 767px){ 

	.advertising {
    	width: 67%;
    	margin-top: -6%;
    	margin-left: 18%;
	}

	hgroup {
    	margin-top: -16%;
	}

	.logoPrezzo {
    	margin-top: -10%;
	}
}
@media screen and (max-width: 680px){

	.logoName {
    	margin-top: -23%;
	}

	.advertising {
    	width: 111%;
    	margin-left: -4%;
	}

	hgroup {
    	margin-top: -28%;
	}

	.logoPrezzo {
    	margin-top: -10%;
	}
}

@media screen and (max-width: 550px) {

	.logoName {
    	margin-top: -27%;
	}

	.logoPrezzo {
    	margin-top: -10%;
	}
}

@media screen and (max-width: 450px) { 

	.logoName {
   		margin-top: -32%;
	}

	.logoPrezzo {
    	width: 380px;
    	margin-top: -10%;
	}
}

@media screen and (max-width: 400px) { 

	.logoPrezzo {
    	width: 270px;
    	margin-left: 0;
	}

	.advertising {
   		width: 320px;
   		margin-left: 0;
	}

	hgroup {
    	margin-top: -32%;
	}

	.social-button {
    	height: 34px;
	}

	.logoName {
   		margin-top: -38%;
	}

	.icon-size {
    	width: 32px;
   		margin-bottom: 0;
	}

	.logoPrezzo {
    	margin-top: -10%;
	}

	.col-xs-1 {
		width: 12%
	}

	.col-xs-11 {
    	width: 80%;
	}

}


@media screen and (max-width: 350px) { 

	.logoName {
    	margin-top: -44%;
	}

	.logoPrezzo {
    	margin-top: -10%;
    	width: 270px;
    	margin-left: 0;
	}

	hgroup {
    	margin-top: -38%;
	}

}