body{
	background-image: url(../img/img-for-prezzo/background-slice.jpg);
	font-family: 'UniversLTW01-47LightCn', helvetica, arial, sans-serif;
	height: 100%;
}

textarea{
	resize: none;
}

input{
	font-family: 'UniversLTW01-47LightCn', helvetica, arial, sans-serif;
}

textarea:focus, input:focus{
    border-color: #D68A69 !important;
}

.copy-input{
	height: 50px;
}

.btn-copy{
	padding-right: 37px;
    height: 50px;
    border: none;
    background-color: black;
}

.btn-copy > i {
	color: white;
	outline: none;
}

.btn-copy:hover {
	background-color: black;
}
.container-social{
	background-color: rgba(255,102,51, .8);
    padding: 15px;
    padding-bottom: 10px;
    outline: none;
    margin-bottom: 15px;
}

.position-center{
	text-align: center;
}

i{
	color: black;
	cursor: pointer;
}

.container-white{
	background-color: white;
}

.container-contant{
	background-image: url(../img/img-for-prezzo/Refer-a-friend.jpg);
	width: 99%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 68px);
}

hr{
	border: 1px solid white;
}

.header{
	padding-top: 15px;
}

.article > p{
    padding-left: 15px;
    padding-right: 10px;
}

img{
    width: 47%;
}

.form-control{
	font-size: 20px;
}	

li > img {
	width: 30px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    margin-left: -15px;
}

.form-control{
	border-radius: 0;
}

.btn{
	border-radius: 0;
}

.container-social > p {
	padding-top: 10px;
}

.width-line{
	width: 90%;
}

.article > .input-group {
    padding-left: 15px;
    padding-right: 15px;
}

.article{
	background-color: rgba(255,102,51,.8);
	margin-bottom: 15px;
	height: 150px;
	color: white;
}

.about > p{
	padding-top: 15px;
    padding-left: 15px;
    padding-right: 10px;3
}

small {
	color: white;
}

.list-inline>li{
	padding: 0;
}
 
 header{
 	background: white;
 }
 li > a > img{
 	width: 30px;
 }

 li > div> a > img{
 	width: 30px;
 }

 li > img {
 	width: 30px;
 	cursor: pointer;
 }

 .container-social > p {
 	color: white;
 }

 li{
 	margin-right: 10px;
 }

 .position-container{
 	padding-top: 20px;
 }

.logo{
	width: 150px;
}
 @media screen and (min-width: 995px) , screen and (max-width: 1200px) {
	.about{
	background-color: rgba(0,153,153,.8);
	height: 290px;
	color: white;
}

}

@media screen and (max-width: 990px) { 
	.about{
	background-color: rgba(0,153,153,.8);
	height: auto;
	color: white;
	padding-bottom: 1px;
	margin-bottom: 10px;
}
}

@media screen and (min-width: 1200px) { 
.about{
	background-color: rgba(0,153,153,.8);
	height:258px;
	color: white;
}
}
