body{
	background-image: url(../img/img-for-prezzo/background-slice.jpg);
	font-family: 'UniversLTW01-47LightCn', helvetica, arial, sans-serif;
	height: 100%;
}

textarea{
	resize: none;
	text-align: center;
}


.form-control:focus{
	border-color: black!important;
}

 @font-face {
    font-family: Gloss_And_Bloom; /* Имя шрифта */
    src: url(Gloss_And_Bloom.ttf); /* Путь к файлу со шрифтом */
   }

h1,span, .logoName > strong{
   font-family: Gloss_And_Bloom;
 }

 @font-face {
    font-family: Biko_Bold; /* Имя шрифта */
    src: url(Biko_Bold.otf); /* Путь к файлу со шрифтом */
   }

 h2,h4{
   font-family: Biko_Bold;
 }

.logoName > strong{
	font-size: 1.5em;
}

.social > h4{
   font-family: Biko_Bold;
}
@font-face {
    font-family: Biko_Regular; /* Имя шрифта */
    src: url(Biko_Regular.otf); /* Путь к файлу со шрифтом */
   }

 p, input, textarea, .fontBikoRegular{
   font-family: Biko_Regular;
 }

.social > p{
 	font-family: Biko_Regular;
}

.mobile-size{
	padding-bottom: 20px;
}
 
.social{
	background: #059CA2;
	padding: 10px;
	color: white;
}

.social > h4 {
	color: white;
}
p{
	font-size: 1rem;
}
.logoPosition{
	margin-top: -2%;
}

.logoPrezzo{
 	width: 500px;
}

.icon-view{
	background-color: white;
}

.copy-input{
	height: 50px;
}
 
 .navigation__item > a > img {
	box-shadow: none;
 }

li > a > img {
 	box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.75);
 }

 
 .social-button{
 	box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.75)!important;
 }
div > a > img {
 	box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.75);
 }
.btn-copy{
	padding-right: 37px;
    height: 50px;
    border: none;
    background-color: black;
}

.btn-copy > i {
	color: white;
	outline: none;
}

.btn-copy:hover {
	background-color: black;
}
.container-social{
	background-color: #009999;
    padding: 15px;
    padding-bottom: 10px;
    outline: none;
    margin-bottom: 15px;
}

hgroup{
    margin-top: -22%;
}
.position-center{
	text-align: center;
}

i{
	color: black;
	cursor: pointer;
}

.container-white{
	background-color: white;
}

.container-contant{
	width: 99%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 64px);
}

hr{
	border: 1px solid white;
}

.header{
	padding-top: 15px;
}

.article > p{
    padding-left: 15px;
    padding-right: 10px;
}

.specialColor{
	color: #059CA2;
}
li > img {
	width: 30px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    margin-left: -27px;
}

.form-control{
	border-radius: 0;
}

.btn{
	border-radius: 0;
}

.container-social > p {
	padding-top: 10px;
}

.width-line{
	width: 90%;
}

.article > .input-group {
    padding-left: 15px;
    padding-right: 15px;
}

.article{
	background-color: rgb(255,102,51);
	margin-bottom: 15px;
	height: 150px;
	color: white;
}

.about > p{
	padding-top: 15px;
    padding-left: 15px;
    padding-right: 10px;3
}

small {
	color: white;
}

.list-inline>li{
	padding: 0;
}
 
 header{
 	background: white;
 }

 li > a > img{
 	width: 30px;
 }

 li > div> a > img{
 	width: 30px;
 }

 li > img {
 	width: 30px;
 	cursor: pointer;
 }

 .container-social > p {
 	color: white;
 }

 li{
 	margin-right: 4px;
 }

 .position-container{
 	padding-top: 20px;
 }

.logo{
	width: 150px;
}

.icon-size{
	width: 40px;
	margin-bottom: -7px;
}

.witoutMargin{
	margin-bottom: 0;
}

button {
	box-shadow: 4px 3px 12px 2px rgba(0,0,0,0.75);
}

footer{
    bottom: 0;
    position: fixed;
}

.social-button {
    width: 40px;
    height: 38px;
    box-shadow: inset 0px 4px 6px 0px rgba(255,255,255,1);
}

.social-button > img {
	width: 58%;
}

.js-textareacopybtn {
	cursor: pointer;
}

.size-text{
	padding-top: 1px;
	color: white;
	background-color: black;
}

footer > p{
	margin-bottom: 0;
}

 @media screen and (min-width: 995px) , screen and (max-width: 1200px) {
	.about{
	background-color: rgb(0,153,153);
	height: 283px;
	color: white;
}

.white-block {
    background-color: white;
    height: calc(100vh - 590px);
}

.logoName{
    margin-top: -13%;
}

.advertising{
	width: 450px;
    margin-top: -10%;
}
}

@media screen and (min-width: 1200px) { 
.about{
	background-color: rgb(0,153,153);
	height: 250px;
	color: white;
}

.white-block{
	background-color: white;
	height: calc(100vh - 560px);
}

.logoName{
    margin-top: -11%;
}

.advertising{
	width: 500px;
    margin-top: -10%;
}
}
