body{
	background-image: url(../img/img-for-prezzo/background-slice.jpg);
	font-family: 'UniversLTW01-47LightCn', helvetica, arial, sans-serif;
	height: 100%;
}

textarea{
	resize: none;
	text-align: center;
}

textarea:focus, input:focus{
    border-color: #D68A69 !important;
}


 @font-face {
    font-family: Gloss_And_Bloom; /* Имя шрифта */
    src: url(Gloss_And_Bloom.ttf); /* Путь к файлу со шрифтом */
   }

h3,span{
   font-family: Gloss_And_Bloom;
 }

 @font-face {
    font-family: Biko_Bold; /* Имя шрифта */
    src: url(Biko_Bold.otf); /* Путь к файлу со шрифтом */
   }

 h2,h4{
   font-family: Biko_Bold;
 }

.social > h4{
   font-family: Biko_Bold;
}
@font-face {
    font-family: Biko_Regular; /* Имя шрифта */
    src: url(Biko_Regular.otf); /* Путь к файлу со шрифтом */
   }

 p, input, textarea, .fontBikoRegular{
   font-family: Biko_Regular;
 }

.social > p{
 	font-family: Biko_Regular;
}
 
.social{
	background: #059CA2;
	padding: 10px;
	color: white;
}

.social > h4 {
	color: white;
}
p{
	font-size: 1rem;
}
.logoPosition{
	margin-top: -2%;
}
 .logoPrezzo{
 	width: 350px;
 }

.copy-input{
	height: 50px;
}

.btn-copy{
	padding-right: 37px;
    height: 50px;
    border: none;
    background-color: black;
}

.btn-copy > i {
	color: white;
	outline: none;
}

.btn-copy:hover {
	background-color: black;
}
.container-social{
	background-color: #009999;
    padding: 15px;
    padding-bottom: 10px;
    outline: none;
    margin-bottom: 15px;
}

hgroup{
    margin-top: -22%;
}
.position-center{
	text-align: center;
}

i{
	color: black;
	cursor: pointer;
}

.container-white{
	background-color: white;
}

.container-contant{
	background-image: url(../img/img-for-prezzo/Refer-a-friend.jpg);
	width: 99%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 68px);
}

hr{
	border: 1px solid white;
}

.header{
	padding-top: 15px;
}

.article > p{
    padding-left: 15px;
    padding-right: 10px;
}

.specialColor{
	color: #059CA2;
}
li > img {
	width: 30px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    margin-left: -27px;
}

.form-control{
	border-radius: 0;
}

.btn{
	border-radius: 0;
}

.container-social > p {
	padding-top: 10px;
}

.width-line{
	width: 90%;
}

.article > .input-group {
    padding-left: 15px;
    padding-right: 15px;
}

.article{
	background-color: rgb(255,102,51);
	margin-bottom: 15px;
	height: 150px;
	color: white;
}

.about > p{
	padding-top: 15px;
    padding-left: 15px;
    padding-right: 10px;3
}

small {
	color: white;
}

.list-inline>li{
	padding: 0;
}
 
 header{
 	background: white;
 }

 li > a > img{
 	width: 30px;
 }

 li > div> a > img{
 	width: 30px;
 }

 li > img {
 	width: 30px;
 	cursor: pointer;
 }

 .container-social > p {
 	color: white;
 }

 li{
 	margin-right: 4px;
 }

 .position-container{
 	padding-top: 20px;
 }

.logo{
	width: 150px;
}

.social-button {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    padding-top: 10px;
}

.social-button > img {
	width: 58%;
}

.js-textareacopybtn {
	cursor: pointer;
}

.size-text{
	padding-top: 1px;
	color: white;
	background-color: black;
}

footer > p{
	margin-bottom: 0;
}

 @media screen and (min-width: 995px) , screen and (max-width: 1200px) {
	.about{
	background-color: rgb(0,153,153);
	height: 283px;
	color: white;
}

.white-block {
    background-color: white;
    height: calc(100vh - 590px);
}

.logoName{
    margin-top: -9%;
}

.advertising{
	width: 450px;
    margin-top: -10%;
}
}

@media screen and (max-width: 990px) { 
	.about{
	background-color: rgb(0,153,153);
	height: auto;
	color: white;
	padding-bottom: 1px;
	margin-bottom: 10px;
}

.white-block{
	background-color: white;
	height: calc(100vh - 535px);
}

.logoName{
    margin-top: -18%;
}
}

@media screen and (min-width: 1200px) { 
.about{
	background-color: rgb(0,153,153);
	height: 250px;
	color: white;
}

.white-block{
	background-color: white;
	height: calc(100vh - 560px);
}

.logoName{
    margin-top: -7%;
}

.advertising{
	width: 500px;
    margin-top: -10%;
}
}
